<!DOCTYPE html>



<table class="bottom merchants_grid">
<tbody>
	
	{% for p in plans %}
	{% if forloop.counter0|divisibleby:5 %}<tr>{% endif %}
	<td id = "m{{p.id}}"  class="merchant_cell" title="{{p.merchant.name}}"  >


		<a href="/giftcards/{{p.id}}" class="merchant_link ga_track_event:category=clicks:action=in_stock_merchants:opt_label=abercrombie-and-fitch-gift-cards">
                <img alt="{{p.merchant.name}}" height="60" src="/media/{{p.logo}}" width="88"><br>
                <span class="merchant_discount">
			{% if p.price %}
				{{p.price}}/{{p.value}}
			{% else %}
				Min:{{p.value}}	
			{% endif %}
		</span>
                <span class="merchant_link_name_text" style="display: block; margin: 3px 0 0 0;">{{p.name}}</span>
              </a>

	
	</td>
	{% if forloop.counter|divisibleby:5 or forloop.last %}</tr>{% endif %}
	{% endfor %}



        </tbody>
</table>



