
<!DOCTYPE HTML>
<hr style = "position:relative; left:-40px"/>
<hr style = "position:relative; left:-40px"/>

<table class="bottom merchants_grid" style = "position:relative; left:-40px">
<tbody>

        <tr>

		<td id = "TELCELL" class = "pay_system"  title = "TELCELL">
			<img src="/media/telcell.png" alt="Telcell" style="margin: 0 9px 4px 0;">
		</td>
		<td id = "ARCA" class = "pay_system" title = "ARCA">
			<a href="http://arca.am" target="_blank"><img src="/media/arca.jpg" alt="Arca"></a>
		</td>
		<td id = "iDRAM" class = "pay_system" title = "iDRAM">
                        <img src="/media/idram.gif" alt="iDRAM" style="margin: 0 9px 4px 0;">
                </td>
		<td id = "Visa/Master" class = "pay_system" title = "Visa/Master">
			<a href="http://areximbank.am" target="_blank"><img src="/media/visamaster.jpg" alt="Visa/Master"></a>
		</td>
                <td id = "ACCOUNT" class = "pay_system" title = "ACCOUNT">
                        <img src="/media/account.png" height = 35 width = 119 alt="MY ACCOUNT" style="margin: 0 9px 4px 0;">
                </td>
                <td id = "ARCA" class = "pay_system" title = "ARCA">
                        <a href="http://arca.am" target="_blank"><img src="/media/arca.jpg" alt="Arca"></a>
                </td>
	
       

                <td id = "iDRAM" class = "merchant_cell" title = "iDRAM">
                        <img src="/media/idram.gif" alt="iDRAM" style="margin: 0 9px 4px 0;">
                </td>
	</tr>
	<tr>
                <td id = "Visa/Master" class = "merchant_cell" title = "Visa/Master">
                        <a href="http://areximbank.am" target="_blank"><img src="/media/visamaster.jpg" alt="Visa/Master"></a>
                </td>

        </tr>
        


        </tbody>
</table>


<hr style = "position:relative; left:-40px"/>
<hr style = "position:relative; left:-40px"/>





