{% extends 'base_for_main.html' %}
{% load i18n %}
{% load static %}



{% block body_main_block %}



<!-- verify giftcard -->
<div id="main_content" class="span-24 last">
<div class="span-12" style="margin-bottom: 20px;">
  <div class="raised_box_with_header">
    <div class="box_top_right"><div class="box_top_left"><div class="header">Sell Gift Card</div></div></div>
    <div class="box_middle_right"><div class="box_middle_left"><div class="content">
            <form action="/giftcards/sell/" class="new_card" id="new_card" method="post">
	  	{% csrf_token %}
	    <table class="bottom">
          <!--	<tr>
           		<td>
              		<label for="card_merchant_id">Merchant</label><br />
              		<select class="input_large_300 merchant_select" id="card_merchant_id" name="card[merchant_id]"><option value=""></option>
				<option value="106">1-800-Flowers.com</option>
				<option value="280">1-800-PetSupplies.com</option>
				<option value="399">24 Hour Fitness</option>

				<option value="303">Z Gallerie</option>
				<option value="230">Zumiez</option>
			</select>
			<br />

              		(Don't see your merchant? <a href="#" class="merchant_request_link">Let us know!</a>)
            		</td>
          	</tr>-->
          	<tr>
            		<td>
				{% if error %}
					<p> {{error}} </p>
					<br/>
				{% endif %}
              			<label for="card_code">Enter Code</label><br />

              			<input class="input_large_200" id="card_code" name="card[code]" size="12" maxlength = 12  type="text" />
				<button class="btn btn-primary" type="submit" name="submit"> Enter </button>

            		</td>
          	</tr>
		{% if accepted_card %}
			<!-- AJAX CALL SHOULD BE HERE -->
		{% endif%}

          	<!--<tr>
            		<td>
              		<span class="blue_button submit_button bottom" style="width: 95px;">
			<a href="/sell-gift-cards">
 			<span class="button_right" style="cursor: pointer;">
				<span class="button_left"><span class="button_text">
					 <button class="btn btn-primary" type="submit" name="submit"> Enter </button>
				</span></span>
			</span>
			</a>
			</span>
            		</td>
          	</tr>-->
        </table>
      </form>    </div></div></div>
    <div class="box_bottom_right"><div class="box_bottom_left"><!-- ie_hack: ie6 sucks --></div></div>
  </div>
</div>

<div class="span-12 last">
 <div class="raised_box_with_header">
   <div class="box_top_right"><div class="box_top_left"><div class="header">How it Works</div></div></div>
     <div class="box_middle_right"><div class="box_middle_left"><div class="content">
        <p>
          Have unused gift cards? Cardpool gives you an easy way to sell gift cards for cash and other valuable items.
        </p>
        <p>
          Selling more than $5,000 in gift cards?  Learn about <a href="/bulk-seller-program">Bulk Sales</a>.
        </p>
        <hr />
        <p>
          <strong>Step 1: Get Offers</strong><br />
          Tell us which gift cards you'd like to sell for cash.
        </p>
        <p>
          <strong>Step 2: Transfer Gift Cards</strong><br />
          Sell your gift cards electronically - no mailing required, or mail your gift cards using our FREE SHIPPING LABEL.
        </p>
        <p>
          <strong>Step 3: Get Paid</strong><br />
          We'll send you a check within 24 hours of receiving your gift cards.
        </p>
        <p class="bottom">
          Questions? To learn more about selling gift cards, <a href="/support/how-it-works">click here</a>.
        </p>
      </div></div></div>
    <div class="box_bottom_right"><div class="box_bottom_left"><!-- ie_hack: ie6 sucks --></div></div>
  </div>
</div>

</div>
                                                                      

{% endblock%}
