{% extends 'base_for_main.html' %}
{% load i18n %}
{% load static %}


{% block javascript %}
	
<script type="text/javascript">
    // Appease XHTML validation:
    // <![CDATA[ 
    $(document).ready(function() {
           
	  $("#change_name_link").click(function() { $("#change_name_ui").toggle() });
	  $("#change_email_link").click(function() { $("#change_email_ui").toggle() });
	  $("#change_password_link").click(function() { $("#change_password_ui").toggle() });



    

        $('.gift_card_view_history').click(function(){
                var code;
		code = $(this).attr('code')
                $.get('/giftcards/gift_card_history_view/', {code: code}, function(data){
                        $('#giftcard_view').html(data);
                });
        });      
	
	 $('.pay_gift_card').click(function(){
                var code;
                code = $(this).attr('code')
                $.get('/giftcards/pay_gift_card_view/', {code: code}, function(data){
                        $('#giftcard_view').html(data);
                });
        });      



});
    
</script>

<script type="text/javascript">
    function toggle(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }

</script>
{% endblock %}


{% block body_main_block %}
<div class="span-24 last">
  <div class="raised_box">
    <div class="box_middle_right"><div class="box_middle_left"><div class="content_extra_padding">
	


	
<!--		<div id = "giftcard_view">	
			<div class="gray_box" style="text-align: center;"  >
				<label for="card_code">Enter Gift Card Code to check</label><br />
                		<input class="input_large_200" id="card_code" name="card[code]" size="12" type="text" />
                		<button class="btn btn-primary" type="submit" name="submit"> Enter </button>
	
			</div>	
		</div>
-->

      <div class="easy_to_read_styles">
        <div class="secondary_nav">
          <div class="left">
            <ul>
		{% if not  sent_giftcards %}	
             		<li><a href="/account/sent-giftcards" class="selected">Sent Giftcards</a></li>
		{% else %}
			 <li><a href="/account/sent-giftcards" class="">Sent Giftcards</a></li>
		
		{% endif %}
		
	<!--	{% if not transactions %}
			<li><a href="/account/transactions" class="selected">Transactions</a></li>
		{% else %}
			<li><a href="/account/transactions" class="">Transactions</a></li>
		{% endif %}
-->
	        {% if not sold_giftcards %}
			<li><a href="/account/sold-giftcards" class="selected">Sold Giftcards</a></li>
		{% else %}
			<li><a href="/account/sold-giftcards" class="">Sold Giftcards</a></li>
		{% endif %}	
            </ul>
          </div>
          <div class="right">
            <ul>
		{% if not settings %}
			<li><a href="/account/edit" class="selected">Account Settings</a></li>
		{% else %}	
	  	        <li><a href="/account/edit" class="">Account Settings</a></li>
		{% endif %}
            </ul>
          </div>
        </div>
       

 {% block account_content %}
 {% endblock %}		
	</div>
      </div>
    </div></div></div>
  



    
{% endblock%}

{% block body_content_block %}
{% endblock %}



