{% extends 'patron/patron_account_base.html' %}
{% load i18n %}

{% block title_block %}
        {% trans "Sent Giftcards" %}
{% endblock %}


{% block account_content %}

<div id="main_content" class="span-24 last">


<div id = "giftcard_view"> </div>


<!--
<div class="span-12" style="margin-bottom: 20px;">
<div class="raised_box_with_header">
<div class="box_middle_right"><div class="box_middle_left"><div class="content">
<table class="layout">
<tr>


<td style="vertical-align: top; width: 90%;">
        <div class="span-18 last">  <div class="raised_box_with_header">

-->
<div class="box_middle_right"><div class="box_middle_left"><div class="content">
<div id="card_list_container">



  <table id="card_list" class="data_list bottom">
    <tr class="physical ebuy mobile_delivery header">
      <th style="width: 284px" ><span class="ie6_hack_force_no_wrap">Logo</span></th>
      <th style="width: 70px" ><span class="ie6_hack_force_no_wrap">Name</span></th>	
      <th style="width: 70px" ><span class="ie6_hack_force_no_wrap">Price</span></th>
      <th style="width: 70px" ><span class="ie6_hack_force_no_wrap">Value</span></th>
      <th style="width: 70px" ><span class="ie6_hack_force_no_wrap">Send To</span></th>
      <th style="width: 150px" ><span class="ie6_hack_force_no_wrap">Buyed</span></th>
      <th style="width: 150px" ><span class="ie6_hack_force_no_wrap">Code</span></th>
      <th style="width: 150px" ><span class="ie6_hack_force_no_wrap">Paid</span></th>
    </tr>
        {% for g in giftcards %}
           <tr id="card_{{g.id}}" class="odd card_row card_in_listing physical" >
                <td style="width: 284px;">
                        <a href = "/giftcards/{{g.plan.id}}">
                                <img alt= "{{g.price}}/{{g.value}}" height="32" src="/media/{{g.plan.logo}}/" width="50" />
                        </a>
                </td>
                
		<td><a href ="/giftcards/{{g.plan.id}}" >{{g.plan.name|slice:"9" }}</a></td>
                <td>{{g.plan.price|stringformat:"d"}}</td>
                <td>{{g.remainder|stringformat:"d"}}</td>
		<td>{{g.send_to}}
                <td>{{g.buyed_at|date:'Y-m-d '}}</td>
                <td><button class = "gift_card_view_history btn btn-primary"  code = "{{g.code}}" >{{g.code}}</input></td>
                <td>
                        {% if g.paid %}
                                YES
                        {% else %}
				<button class="pay_gift_card btn btn-success" code = "{{g.code}}" >Վճարել</button>
			
                         	      
                        {% endif %}
                <td>

           </tr>
        {% empty %}
        {% endfor %}
</table>
</div>
</div></div></div>
</div>







{% endblock %}                         
