{% extends 'merchant/merchant_home_base.html' %}
{% load i18n %}
{% load static %}

{% block javascript %}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  
  <script>


	 $(document).ready(function() {

	 	 $(function() {
	 	 	  $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
	 	 });
	});	
  </script>

{% endblock %}

{% block body_main_block %}
<div id="main_content" class="span-24 last">

<form id="filter_form" method="post" action="/merchant/transactions/" enctype="multipart/form-data"  >
        {% csrf_token %}
        <input type="text" class = "datepicker"  name = "begindate" value = "{{begindate|date:'Y-m-d'}}" placeholder = "Start Date..">
        <input type="text" class = "datepicker" name = "enddate" value = "{{enddate|date:'Y-m-d'}}"   placeholder = "End Date..">
        <button class="btn btn-small btn-primary" tye="submit" name="submit">Filter</button>
</form>
<br/>
   <table id="card_list" >
                <tr  >  
                        <th style="width:50px"><span class="ie6_hack_force_no_wrap">ID</span></th>
                        <th style="width: 150px"><span class="ie6_hack_force_no_wrap">GiftCard Code</span></th>
                        <th style="width: 100px" ><span class="ie6_hack_force_no_wrap">Amount</span></th>
                        <th style="width: 380px" ><span class="ie6_hack_force_no_wrap">Timestamp </span></th>
                        <th style="width: 900px" ><span class="ie6_hack_force_no_wrap">Comment</span></th>      
                        <th style="width: 300px" ><span class="ie6_hack_force_no_wrap">Purchase ID</span></th>  
                        <th style="width: 500px" ><span class="ie6_hack_force_no_wrap">Transferred</span></th>  
                </tr>
                {% for p in transactions %}
                <tr id="card_{{p.id}}" class="odd card_row card_in_listing physical" title="Transacation N:{{p.id}}">
                        <td>{{p.id}}</td>
                        <td>{{p.giftcard}}</td>
                        <td>{{p.amount|stringformat:"d"}}</td>
                        <td>{{p.timestamp}}</td>
                        <td>{{p.comment}}</td>
                        <td>{{p.purchase_item_id}}</td>
                        <td> NOT TRANSFERRED </td>
                </tr>
                {% empty %}
                {% endfor %}
        </table>
</div>




{% endblock %}
~                                                                                                                                                         
~                                                                                                                                                         
~                         
