{% extends 'merchant/merchant_home_base.html' %}
{% load i18n %}
{% load static %}


{% block body_main_block %}

<div id="main_content" class="span-24 last">
<div class="span-12" style="margin-bottom: 20px;">
  <div class="raised_box_with_header">
    <div class="box_top_right"><div class="box_top_left"><div class="header">Sell Gift Card</div></div></div>
    <div class="box_middle_right"><div class="box_middle_left"><div class="content">

<p> Here should be the list of sold gift_cards </p>


</div></div></div>
</div></div>
</div>

{% endblock %}
