{% extends 'base_for_main.html' %}
{% load i18n %}
{% load static %}


{% block body_main_block %}


<div class="raised_box">
  <div class="box_top_right"><div class="box_top_left"><!-- ie_hack: ie6 sucks --></div></div>
  <div class="box_middle_right"><div class="box_middle_left"><div class="content">
    <table class="layout">
      <tr>
        <td style="width: 250px;">
          <img alt="JCPenney Gift Card" height="126" src="/scaled_images/cards/200x126/jcpenney_200x126.jpg?1396575784" style="padding-left: 25px;" width="200" />
          <h3 style="padding-top: 10px; text-align: center; margin-bottom: 0;">
            <a href="/wishlist">Add to Wishlist</a>
          </h3>
        </td>
        <td style="padding-left: 20px;">
          
            <h1>{{merchant.name}} Gift Cards</h1>
          
          <p>{{ merchant.name }} {{ merchant.name }} {{  merchant.name }}</p>
                      <p><a href= {{ merchant.website}} class="ga_track_link:href=/virtual/merchant_visit_link/click/jcpenney-gift-cards" target="_blank">&raquo; Visit {{merchant.name }}</a></p>
        </td>
      </tr>
    </table>
  </div></div></div>
</div>

{% endblock  %}


{% block body_content_block %}

<div id="main_content" class="span-24 last">

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
</div>








{% endblock %}
