{% extends 'patron/patron_account_base.html' %}
{% load i18n %}

{% block title_block %}
        {% trans "Account Settings" %}
{% endblock %}


{% block account_content %}

<div id="main_content" class="span-24 last">
<div class="span-12" style="margin-bottom: 20px;">
<div class="raised_box_with_header">
<div class="box_middle_right"><div class="box_middle_left"><div class="content">

<table class="layout">
<tr>


<td style="vertical-align: top; width: 999999990%;">
        <div class="span-18 last">  <div class="raised_box_with_header">


<div class="box_middle_right"><div class="box_middle_left"><div class="content">
<div id="card_list_container">



  <table id="card_list" class="data_list bottom">
    <tr class="physical ebuy mobile_delivery header">
      <th style="width: 284px" ><span class="ie6_hack_force_no_wrap">Logo</span></th>
      <th style="width: 70px" ><span class="ie6_hack_force_no_wrap">Name</span></th>	
      <th style="width: 70px" ><span class="ie6_hack_force_no_wrap">Price</span></th>
      <th style="width: 70px" ><span class="ie6_hack_force_no_wrap">Value</span></th>
      <th style="width: 70px" ><span class="ie6_hack_force_no_wrap">Send To</span></th>
      <th style="width: 150px" ><span class="ie6_hack_force_no_wrap">Buyed</span></th>
      <th style="width: 150px" ><span class="ie6_hack_force_no_wrap">Code</span></th>
      <th style="width: 150px" ><span class="ie6_hack_force_no_wrap">Paid</span></th>
      <th style="width: 150px" ><span class="ie6_hack_force_no_wrap">Valid</span></th>	
    </tr>
        {% for g in giftcards %}
           <tr id="card_{{g.id}}" class="odd card_row card_in_listing physical" title="a in pea pod the physical">
                <td style="width: 284px;">
                        <a href = "/giftcards/{{g.plan.id}}">
                                <img alt= "{{g.price}}/{{g.value}}" height="32" src="/media/{{g.plan.logo}}/" width="50" />
                        </a>
                </td>
                
		<td><a href ="/giftcards/{{g.plan.id}}" >{{g.plan.name|slice:"9" }}</a></td>
                <td>{{g.plan.price|stringformat:"d"}}</td>
                <td>{{g.remainder|stringformat:"d"}}</td>
		<td>{{g.send_to}}
                <td>{{g.buyed_at|date:'Y-m-d '}}</td>
                <td>{{g.code}}</td>
                <td>
                        {% if g.paid %}
                                YES
                        {% else %}
                         	<a href = "/"> PAY </a>       
                        {% endif %}
                <td>
		<td>{% if g.valid %}
			YES
		    {% else %}
			NO
		    {%endif%}	
   		</td>

           </tr>
        {% empty %}
        {% endfor %}
</table>
</div>
</div></div></div>
</div>

</td>
</tr>
</table>
</div>
</div></div></div>
</div>

</td>
</tr>
</table>
</div></div></div>
</div></div>
</div>





{% endblock %}                         
