{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<link href="{% static 'css/base_packaged.css' %}" media="all" rel="stylesheet" type="text/css" />
	<script src= "{% static 'js/jquery-2.1.0.js' %}" type = "text/javascript"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>

	<title>
		{% block title_block %}
			"GiftCard"
		{% endblock %}
	</title>
	{% block javascript %}
	{% endblock %}


<script type="text/javascript">
    // Appease XHTML validation:
    // <![CDATA[ 
    $(document).ready(function() {
           
        $("#change_name_link").click(function() { $("#change_name_ui").toggle() });
        $("#change_email_link").click(function() { $("#change_email_ui").toggle() });
        $("#change_password_link").click(function() { $("#change_password_ui").toggle() });

        $('.deleteplan').click(function(){
                var code;
                id = $(this).attr('code')
		//$( "#delete_plan_notification" ).dialog();		
                $.get('/merchant/delete-gift-card-plan/', {id: id}, function(data){
			window.location="/merchant/gift-card-plans/";
                   
                });
		
        });      
	$(function() {
                $( ".datepicker" ).datepicker({ dateFormat: 'yy-mm-dd' });
        });


});
    
</script>


<script type="text/javascript">
    function toggle(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block'; 
    }
    
</script>



</head>
<body>
{% block body_header_block %}
<div id = "content"  >
<div id = "maincontent">



<div id="header" class="span-24 last">
<table class="layout">
	<tr>
        <td style="vertical-align: bottom; width: 25%;">
        	<div class="logo">

        	<a href="/"><img alt="Nvercard" class="ie6_hack_png_fix" height="48" src="media/logo.jpg" width="146" /></a>
        	</div>
        </td>
        <td style="vertical-align: middle; width: 50%;">
            	<div class="slogan" style="margin: 5px;">
              		<a href="/support/how-it-works" class="ga_track_event:category=clicks:action=how_it_works:opt_label=header">Buy Virtual Gift Cards: Give Real Joy</a><br />
            	</div>
       </td>
       <td style="vertical-align: bottom; width: 25%; text-align: right;">
            	<div class="links">
	
				<a href="/merchant/home/" class="signup_link">{{ user.username|upper }}</a> <span class="separator">|</span>
                                <a href="/logout" class="login_link">Logout</a>
	
            	</div>
            	<div class="contact">
            		<a href="/" style="font-size: 14px;">Questions?  Contact Us</a>
            	</div>
       </td>
       </tr>
</table>
</div>
                     
{% endblock %}
		
{% block  body_nav_block %}

<div id="main_nav" class="span-24 last">
      <ul id="popup_nav" class="left nav_button_bar">
        <li class="nav_button_container">
          <a href="/merchant/gift-card-plans" class="nav_button ga_track_event:category=clicks:action=buy:opt_label=nav_bar">Gift Card Plans</a>
        </li>
<!--        <li class="nav_button_container">
          <a href="/merchant/home/new-giftcard-plan" class="nav_button ga_track_event:category=clicks:action=sell:opt_label=nav_bar">Add New Gift Card Plan</a>
		 
        </li>
-->
        <li class="nav_button_container">
          <a href="/merchant/sold-gift-cards" class="nav_button ga_track_event:category=clicks:action=how_it_works:opt_label=nav_bar">Active Gift Cards</a>
        </li>

	<li class="nav_button_container">
          <a href="/merchant/transactions" class="nav_button" >Transactions</a>
          </li>

        </ul>
      <div class="right">
	
        <ul class="nav_button_bar">
          <li class="nav_button_container">
          <a href="/merchant/settings" class="nav_button">Settings</a>
          </li>
        </ul>
	
      </div>
</div>


{% endblock %}

{% block body_main_block %}
<!-- verify giftcard -->
<div id="main_content" class="span-24 last">

<div class="span-12" style="margin-bottom: 20px;">
  <div class="raised_box_with_header">
    <div class="box_middle_right"><div class="box_middle_left"><div class="content">
       	<form action="/merchant/home/" class="new_card" id="new_card" method="post">
	{% csrf_token %}
	<table class="bottom">
          <tr>
            <td>

              <label for="card_code">Enter Card Code</label><br />
              <input class="input_large_200" id="card_code" name="card[code]" size="30" type="text" value = "{{code}}" ></input>
              <button class="btn btn-primary" type="submit" name="submit"> Check </button>
		 {% if message %}
                        <p> {{message}} </p>
                        <br/>
                {% endif %}

            </td>
          </tr>
	{% if giftcard %}
		<tr>
	            <td>
			<p>CARD REMAINDER:   {{giftcard.remainder}}</p>
			{% if message1 %}
                       		 <p> {{message1}} </p>
                        	<br/>
                	{% endif %}

        	      	<label for="amount">Enter Amount </label><br />
        	      <input class="input_large_200" id="amount" name="card[redeem]" size="30" type="text" />
        	      <button class="btn btn-primary" type="submit" name="submit"> Redeem </button>
        	    </td>
        	  </tr>

	{% endif %}		
        </table>
      </form>
    </div></div></div>
    <div class="box_bottom_right"><div class="box_bottom_left"><!-- ie_hack: ie6 sucks --></div></div>
  </div>
</div>

<div class="span-12 last">
 <div class="raised_box_with_header">
   <div class="box_top_right"><div class="box_top_left"><div class="header">How it Works</div></div></div>
     <div class="box_middle_right"><div class="box_middle_left"><div class="content">
        <p>
          Have unused gift cards? Cardpool gives you an easy way to sell gift cards for cash and other valuable items.
        </p>
        <p>
          Selling more than $5,000 in gift cards?  Learn about <a href="/bulk-seller-program">Bulk Sales</a>.
        </p>
        <hr />
        <p>
          <strong>Step 1: Get Offers</strong><br />
          Tell us which gift cards you'd like to sell for cash.
        </p>
        <p>
          <strong>Step 2: Transfer Gift Cards</strong><br />
          Sell your gift cards electronically - no mailing required, or mail your gift cards using our FREE SHIPPING LABEL.
        </p>
        <p>
          <strong>Step 3: Get Paid</strong><br />
          We'll send you a check within 24 hours of receiving your gift cards.
        </p>
        <p class="bottom">
          Questions? To learn more about selling gift cards, <a href="/support/how-it-works">click here</a>.
        </p>
      </div></div></div>
    <div class="box_bottom_right"><div class="box_bottom_left"><!-- ie_hack: ie6 sucks --></div></div>
  </div>
</div>

</div>
{% endblock %}

{% block body_content_block %}

<!-- Here we should copy the merchant_view html code with update permissions-->

{% endblock %}


{% block footer %}



	<div id="footer" class="span-24 last">
      				<div>
        			<a href="/about">About Us</a> <span class="separator">|</span> 
        			<a href="/reviews">Reviews</a> <span class="separator">|</span> 
        			<a href="/tos">Terms</a> <span class="separator">|</span> 
        			<a href="/privacy" target="_blank">Privacy</a> <span class="separator">|</span> 
        			<a href="/affiliates/programs" class="ga_track_event:category=clicks:action=invite:opt_label=footer">Affiliates</a> <span class="separator">|</span> 
        			<a href="/jobs" class="ga_track_link:href=/virtual/jobs">Jobs</a> <span class="separator">|</span> 
        			<a href="http://www.cardpool.com/blog" class="ga_track_link:href=/virtual/blog">Blog</a> <span class="separator">|</span> 
        			<a href="/support/how-it-works" class="ga_track_event:category=clicks:action=faq:opt_label=footer">FAQ</a> <span class="separator">|</span> 
        			<a href="/support/contact">Contact Us</a>
      			</div>
      			<div id="footer_disclaimer">
          		Designated trademarks and brands are the property of their respective owners.
          		Use of this website constitutes acceptance of Cardpool.com's 
          		<a href="/privacy" target="_blank">Privacy Policy</a> 
          		and <a href="/tos">Terms of Use</a>.
      		</div>
      		<div id="footer_copyright">
        		Copyright © 2013 Cardpool, Inc. All right reserved.
      		</div>
    		</div>



{% endblock %}

</div></div>
	</body>
</html>
