      <div class="raised_box_with_header">
                <div class="box_top_right"><div class="box_top_left"><div class="header">Merchants</div></div></div>
                <div class="box_middle_right"><div class="box_middle_left"><div class="content">
                        <ul class="nav_list">
             
                        {% for m in merchants %}
                                <li>
                                        <p><a href="/merchant/{{ m.url }}" class="">{{ m.name}}</a></p>
                                </li>
                        {% empty %}
                                <li>Sorry, no merchants are registered for now</li>
                        {% endfor %}
         
        
                        </ul>
                </div></div></div>
                <div class="box_bottom_right"><div class="box_bottom_left"><!--class = "demphasize" e_hack: ie6 sucks --></div></div>
        </div>

