      <div class="raised_box_with_header">
                <div class="box_top_right"><div class="box_top_left"><div class="header">Merchants</div></div></div>
                <div class="box_middle_right"><div class="box_middle_left"><div class="content">
                        <ul class="nav_list">
             
                        {% for m in merchants %}
                                <li>
                                        <p><a href="/merchant/{{ m.url }}" class="demphasize">{{ m.name}}</a></p>
                                </li>
                        {% empty %}
                                <li>Sorry, no merchants are registered for now</li>
                        {% endfor %}
         
                        <li><p><a href="/buy/yankee-candle-gift-cards" class="demphasize">Yankee Candle (0)</a></p></li>
                        <li><p><a href="/buy/zappos-gift-cards" class="demphasize">Zappos (0)</a></p></li>
                        <li><p><a href="/buy/zumiez-gift-cards" class="">Zumiez (1)</a></p></li>
          
        
                        </ul>
                </div></div></div>
                <div class="box_bottom_right"><div class="box_bottom_left"><!-- ie_hack: ie6 sucks --></div></div>
        </div>

