{% extends 'base_for_main.html' %}
{% load i18n %}

{% block title_block %}
	{% trans "Login" %}
{% endblock %}


{% block body_content_block %}

<div id="main_content" class="span-24 last" >
<div class="raised_box"> <div class="box_middle_right"><div class="box_middle_left"><div class="content">
<div class="shadow_box">
<div class="box_middle"><div class="content"> 
<table class="layout" style = "position:relative; left : 0px" >
<tr>
       	<td style="vertical-align:top; padding-right:20px; width: 200px">
      		<h2>Registered Customers</h2>
      		<hr />
           	<form action="/login/" class="login_form display_form_errors_inline" method="post">
              		{% csrf_token %}
			
			<table class="layout">
                	<tr>
                	<td>
                   		<label for="login">Email / Username</label>
                    		<input class="login_email input_large_full"     autocomplete="off"   placeholder = "Email" id="login" name="login" type="text" />
                	</td>
                	</tr>
                	<tr>
                	<td>
                    		<label for="password">Password</label>
                    		<input class="login_password input_large_full" id="password" placeholder = "Password" name="password" type="password" />
			        <input type="hidden" name="login_next" value="{{ next }}" />
	
                    		<p><a href="/reset-password">Forgot your password?</a></p>
                	</td>
                	</tr>
	<!--	<tr>
			<td>  
            <span class="validation_error">{{ captcha_response }}</span>  
          
            <script type="text/javascript"  
            src="http://api.recaptcha.net/challenge?k=6Le22vMSAAAAABGiGXstYLtsJjVIbEJj2iApDNnS">  
            </script>  
              
            <noscript>  
            <iframe src="http://api.recaptcha.net/noscript?k=6Le22vMSAAAAABGiGXstYLtsJjVIbEJj2iApDNnS"  
            height="300" width="500" frameborder="0"></iframe><br>  
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">  
            </textarea>  
            <input type="hidden" name="recaptcha_response_field"   
            value="manual_challenge">  
            </noscript>  
        <td>  
		</tr>	-->	
                	<tr>
			
                	<td>
				<button class="btn btn-success" type="submit">Login</button>
                   		
				{% if message %}
					<div class="flashes">
                            				<div class="error">{{ message }}</div>
                
              				</div>
					
				{% endif %}
                	</td>



                	</tr>
              		</table>
            	</form>
          </td>

          <td style="vertical-align:top; padding-left:20px; width:230px;">
          	<h2>New Customers</h2>
            	<hr />
            	<form action="/signup/" class="signup_form display_form_errors_inline" id="new_user" method="post">
			{% csrf_token %}

		        <div class="flashes"></div>
              		<table class="layout">
                	<tr>
	                  	<td>
        	            		<label for="user_full_name">First Name </label>
                	       		<input class="input_large_full" id="user_full_name"  autocomplete="off"   name="user[full_name]" placeholder = "First Name" size="30" type="text" value=" " />
                  		</td>
                	</tr>
			<tr>
                                <td>
                                        <label for="user_sur_name">Second Name </label>
                                        <input class="input_large_full" id="user_sur_name" name="user[sur_name]" autocomplete="off"  size="30" type="text" value=" " />
                                </td>
                        </tr>

                	<tr>
                 		<td>
                    			<label for="user_email">Email </label>
                        		<input class="input_large_full" id="user_email" name="user[email]"  autocomplete="off"   size="30" type="text" />
                  		</td>
                	</tr>
                	<tr>
                  		<td>
                    			<label for="user_password">Password </label>
                              		<input class="input_large_full" id="user_password"  autocomplete="off"   name="user[password]" size="30" type="password" />
					<input type="hidden" name="signup_next" value="{{ next }}" />

                  		</td>
                	</tr>
			<tr>
                                <td>
                                        <label for="user_password">Confirm Password </label>
                                        <input class="input_large_full" id="user_password" name="user[password]"  autocomplete="off"  size="30" type="password" />
                                        <input type="hidden" name="signup_next" value="{{ next }}" />

                                </td>
                        </tr>

                	<tr>
                  		<td>
                     			<table class="layout">
                       			<tr>
                        			<td style="vertical-align: top;">
                           			<input checked="checked" id="opt_in_to_email_newsletter" name="opt_in_to_email_newsletter" type="checkbox" value="yes" />
                        			</td>
                        			<td style="vertical-align: top">
                        				<div style="margin-left: 6px;">
                        					<label for="opt_in_to_email_newsletter" style="font-weight: normal; font-size: 10px;">Please send me member-only discounts and news about NverCard.</label>
                        				</div>
                        			</td>
                       			</tr>
                      			</table>
                    		</td>
                  	</tr>


   <!-- <tr>            
                        <td>
            <span class="validation_error">{{ captcha_response }}</span>

            <script type="text/javascript"  
            src="http://api.recaptcha.net/challenge?k=6Le22vMSAAAAABGiGXstYLtsJjVIbEJj2iApDNnS">
            </script>

            <noscript>
            <iframe src="http://api.recaptcha.net/noscript?k=6Le22vMSAAAAABGiGXstYLtsJjVIbEJj2iApDNnS"  
            height="300" width="500" frameborder="0"></iframe><br>
            <textarea name="recaptcha_challenge_field" rows="3" cols="40">
            </textarea>
            <input type="hidden" name="recaptcha_response_field"   
            value="manual_challenge">
            </noscript>
        <td>
                </tr>
-->

			<tr>
				<td>
					
                    			<div style="margin-top: 10px;">
					<button class="blue_button btn btn-success signup_button submit_button "type="submit">Signup</button>

                      			</div>
                  		</td>
                	</tr>
              	</table>
            	</form>
	</td>
</tr>
</table>
</div></div></div>
<div class="box_bottom"><!-- ie_hack: ie6 sucks --></div>
</div>
</div></div></div>
</div>




{% endblock %}








